.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 1;
    width: 640px;
    min-height: 170px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
